*{
  margin: 0;
  background-color: ;
}

.app{
  background-color: #fafafa;
  
}

.app__header{
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

.signUp{
  display: flex;
  flex-direction: column;
}